body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.flashcard {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

.flashcard p {
    font-size: 18px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #0066cc;
    color: white;
}

button:hover {
    background-color: #005bb5;
}

#nextButton {
    margin-top: 20px;
}

#resultMessage {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

#emoji {
    font-size: 40px;
}

#actualPunchline {
    margin-top: 10px;
    font-size: 18px;
    font-style: italic;
    color: #333;
}
